<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Author</th>
      <th>Date published</th>
      <th>Comments count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% unless @reddit_posts == nil %>
      <% @reddit_posts.each do |post| %>
        <tr>
          <td> <img src=<%= post['thumbnail'] %> width="97" class="img-responsive pull-left"> </td>
          <td><%= post['title'] %></td>
          <td><%= post['author'] %></td>
          <td><%= Time.at(post['created'].to_i).to_date %></td>
          <td><%= post['num_comments'] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @reddit_posts %>

<br>

<%= link_to 'New Post', new_post_path %>
